body {
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
}
h2 {
    text-align: center;
    color: yellowgreen;
    transition: 0.5s;
    padding-top: 80px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: xx-large;
    font-style: italic;
}
h2:hover {
    transform: scale(1.2);
}
h4 {
     text-align: center;
    color: green;
    transition: 0.5s;
    padding-top: 50px;
    font-weight: 400;
}
.hr {
    height: 3px;
    width: 90%;
   
    margin: auto;
    
    border: none;
    border-top:3px dotted white;
}
.btn-primary {
    margin: auto;
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    margin-top: 40px;
    background-color: brown;
    transition: 0.5s;
}
.btn-primary:hover {
    background-color: rgba(165, 42, 42, 0.486);
}   
table {
   
    width: 100%;
    text-align: center;
}
p {
    color: rgba(255, 0, 0, 0.705);
}